@model TDanhMucSp
<div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
    <div class="featured__item">
        <div class="featured__item__pic set-bg" data-setbg="@Url.Content("../ProductImages/Images/Images/" + Model.AnhDaiDien)" style="background-image: url(&quot;img/featured/feature-1.jpg&quot;);">
            <ul class="featured__item__pic__hover">
                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
            </ul>
        </div>
        <div class="featured__item__text">
            <h6><a asp-controller="Home" asp-action="ProductDetail" asp-route-masp="@Model.MaSp">@Model.TenSp</a></h6>
            <h5>@Model.GiaLonNhat.Value.ToString("#,##") VND</h5>
        </div>
    </div>
</div>
<style>
    .pagination li.active {
        display: inline-block;
        width: 30px;
        height: 30px;
        border: 1px solid #7fad39;
        font-size: 14px;
        color: #ffffff;
        font-weight: 700;
        line-height: 28px;
        text-align: center;
        background: #7fad39;
    }
</style>