@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutOgani";
}
@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<TDanhMucSp>

@foreach (var item in Model)
{
    @await Html.PartialAsync("_PartialSP", item)

}
<div class="product__pagination" style="margin: auto">
    @Html.PagedListPager(Model,page => Url.Action("SanPhamTheoLoai", new{maloai = @ViewBag.maloai,page = page}))
</div>
